[submodule "src/github.com/IMQS/search"]
	path = src/github.com/IMQS/search
	url = git@github.com:IMQS/search
[submodule "src/github.com/BurntSushi/migration"]
	path = src/github.com/BurntSushi/migration
	url = git@github.com:BurntSushi/migration
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = git@github.com:lib/pq
[submodule "src/github.com/IMQS/cli"]
	path = src/github.com/IMQS/cli
	url = git@github.com:IMQS/cli
[submodule "src/github.com/julienschmidt/httprouter"]
	path = src/github.com/julienschmidt/httprouter
	url = git@github.com:julienschmidt/httprouter.git
[submodule "src/github.com/natefinch/lumberjack"]
	path = src/github.com/natefinch/lumberjack
	url = git@github.com:natefinch/lumberjack
